<div class="weatherbody">
    <div class="inputs">
        <form>
            <input placeholder="Enter Zip Code" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}"><br>
            <span class="error" *ngIf="zipError">Please Enter the Zip Code</span>
            <br>
        </form>
        <div>
            <button mat-raised-button class="ga-width-100-per" color="primary" (click)="loadCurrentWeather($event)">
                Get Current Weather
            </button>
        </div><br>
        <div><button class="ga-width-100-per" mat-raised-button color="primary" (click)="loadForecastWeather($event)">
                Get 3 day forecast
            </button>
        </div>
    </div>
    <div class="results">
        <mat-card class="card" *ngIf="showCurrent">
            <mat-card-content>
                <mat-list>
                    <mat-list-item> <strong>City: </strong>{{weatherData.cityName}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> <strong> Temparature</strong> : {{weatherData.currentTemperature}}F
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> <strong>Minimum Temperature</strong> : {{weatherData.minTemperature}}F
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> <strong>Maximum Temperature</strong> : {{weatherData.maxTemperature}}F
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> <strong>Description</strong> : {{weatherData.description}}<span>
                            <img src="http://openweathermap.org/img/w/{{weatherData.icon}}.png" alt="Site Logo"
                                width="50" height="50">
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="ga-forecast-card" *ngIf="showForecast">
            <div>
                <h2> Three day forecast in {{forecastData.name}} </h2>
            </div>
            <mat-tab-group color="primary">
                <div *ngFor="let forecast of forecastData.details,let i=index">
                    <mat-tab label="{{forecastData.details[i].date | date : 'mediumDate'}}">
                        <mat-list>
                            <mat-list-item> Minimum Temperature : {{forecastData.details[i].minTemperature}}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> Maximum Temperature : {{forecastData.details[i].maxTemperature}}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> Description : {{forecastData.details[i].description}}<span>
                                    <img src="http://openweathermap.org/img/w/{{forecastData.details[i].icon}}.png"
                                        alt="Site Logo" width="50" height="50">
                                </span> </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </mat-card>
    </div>
</div>